In [3]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()


# Define the connection information to the database
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD') 
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
# Create a connection to the database
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
# Name of the table to read
table_name = 'ytaxi_histo'
# Read data from the table into a DataFrame
df = pd.read_sql_table(table_name, con=engine)
# Display the first few rows of the DataFrame
df

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2018-01-01 00:21:05,2018-01-01 00:24:23,1,0.5,1,N,41,24,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN,NaN
1,1,2018-01-01 00:44:55,2018-01-01 01:03:05,1,2.7,1,N,239,140,2,14.0,0.5,0.5,0.00,0.0,0.3,15.30,NaN,NaN
2,1,2018-01-01 00:08:26,2018-01-01 00:14:21,2,0.8,1,N,262,141,1,6.0,0.5,0.5,1.00,0.0,0.3,8.30,NaN,NaN
3,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.2,1,N,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80,NaN,NaN
4,1,2018-01-01 00:09:18,2018-01-01 00:27:06,2,2.5,1,N,246,239,1,12.5,0.5,0.5,2.75,0.0,0.3,16.55,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
675995,1,2018-01-03 19:38:44,2018-01-03 19:48:07,1,1.5,1,N,100,229,2,8.0,1.0,0.5,0.00,0.0,0.3,9.80,NaN,NaN
675996,1,2018-01-03 19:05:08,2018-01-03 19:14:53,2,1.8,1,N,161,263,1,9.0,1.0,0.5,2.15,0.0,0.3,12.95,NaN,NaN
675997,1,2018-01-03 19:23:36,2018-01-03 19:32:27,1,2.0,1,N,43,142,1,9.0,1.0,0.5,0.00,0.0,0.3,10.80,NaN,NaN
675998,1,2018-01-03 19:38:34,2018-01-03 19:46:36,1,1.7,1,N,142,238,1,8.0,1.0,0.5,1.96,0.0,0.3,11.76,NaN,NaN
675999,1,2018-01-03 19:48:57,2018-01-03 19:54:11,2,0.6,1,N,238,238,1,5.0,1.0,0.5,1.35,0.0,0.3,8.15,NaN,NaN

In [1]:
from download_data_taxi import download_histo_data
# Path to save data
path_to_save_data = r"D:\Lab\projet ETL\data"
# Function call
download_histo_data(path_to_save_data)

https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2024-01.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-02.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2024-02.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-03.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-03.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-04.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-04.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-05.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-05.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-06.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-06.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-07.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-07.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-08.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-08.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-09.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-10.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-11.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-11.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-12.parquet
Erreur HTTP : 403 Client Error: Forbidden for url: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-12.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-01.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-02.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-03.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-03.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-04.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-04.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-05.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-05.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-06.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-06.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-07.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-07.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-08.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-08.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-09.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-10.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-10.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-11.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-11.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-12.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2023-12.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-01.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-02.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-03.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-03.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-04.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-04.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-05.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-05.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-06.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-06.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-07.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-07.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-08.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-08.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-09.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-09.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-10.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-10.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-11.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-11.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-12.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2022-12.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-01.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-02.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-02.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-03.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-03.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-04.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-04.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-05.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-05.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-06.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-06.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-07.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-07.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-08.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-08.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-09.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-09.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-10.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-10.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-11.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-11.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-12.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2021-12.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-01.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-01.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-02.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-02.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-03.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-03.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-04.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-04.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-05.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-05.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-06.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-06.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-07.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-07.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-08.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-08.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-09.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-09.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-10.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-10.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-11.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-11.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2020-12.parquet
Le fichier D:\Lab\projet ETL\data\yellow_tripdata_2020-12.parquet existe déjà. Passage au fichier suivant.
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-01.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-01.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-02.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-02.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-03.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-03.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-04.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-04.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-05.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-05.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-06.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-06.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-07.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-07.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-08.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-08.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-09.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-09.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-10.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-10.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-11.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-11.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2019-12.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2019-12.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-01.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-01.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-02.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-02.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-03.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-03.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-04.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-04.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-05.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-05.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-06.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-06.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-07.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-07.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-08.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-08.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-09.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-09.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-10.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-10.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-11.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-11.parquet
https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2018-12.parquet
Fichier téléchargé : D:\Lab\projet ETL\data\yellow_tripdata_2018-12.parquet
Téléchargement des données historiques terminé.
Date de téléchargement : 2024-05-15

In [2]:
from scripts.etl_functions import extract

data = extract(r'D:\Lab\projet ETL\data\yellow_tripdata_2018-02.parquet')
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2018-02-01 00:01:58,2018-02-01 00:04:03,1,0.00,1,N,145,145,2,3.5,0.5,0.5,0.0,0.00,0.3,4.80,None,None
1,1,2018-02-01 00:56:48,2018-02-01 00:57:42,1,2.90,1,N,145,145,2,2.5,0.5,0.5,0.0,0.00,0.3,3.80,None,None
2,1,2018-02-01 00:04:42,2018-02-01 00:19:32,1,5.80,1,N,236,119,2,18.5,0.5,0.5,0.0,0.00,0.3,19.80,None,None
3,1,2018-02-01 00:38:10,2018-02-01 00:40:16,1,0.30,1,N,82,82,2,3.5,0.5,0.5,0.0,0.00,0.3,4.80,None,None
4,1,2018-02-01 00:43:03,2018-02-01 00:59:26,2,2.60,1,N,82,7,1,13.0,0.5,0.5,1.0,0.00,0.3,15.30,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8492814,2,2018-02-28 23:21:56,2018-02-28 23:47:43,6,9.61,1,N,138,163,2,28.5,0.5,0.5,0.0,5.54,0.3,35.34,None,None
8492815,2,2018-02-28 23:54:07,2018-03-01 00:24:56,6,4.20,1,N,230,230,1,21.5,0.5,0.5,0.0,0.00,0.3,22.80,None,None
8492816,2,2018-02-28 23:17:42,2018-02-28 23:53:11,1,0.00,1,N,193,193,2,0.0,0.0,0.0,0.0,0.00,0.0,0.00,None,None
8492817,2,2018-03-01 13:39:17,2018-03-01 13:49:08,2,0.00,1,N,264,264,2,2.4,0.0,0.5,0.0,0.00,0.3,3.20,None,None
8492818,2,2018-02-28 23:03:18,2018-02-28 23:03:24,1,0.00,1,N,264,193,1,0.0,0.0,0.0,0.0,0.00,0.0,0.00,None,None

In [5]:
valeurs_manquantes = data.isnull().sum()

valeurs_manquantes

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count                0
trip_distance                  0
RatecodeID                     0
store_and_fwd_flag             0
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     8492819
airport_fee              8492819
dtype: int64