In [2]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()


# Define the connection information to the database
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD') 
db_host = os.getenv('DB_HOST')
db_port = os.getenv('DB_PORT')
db_name = os.getenv('DB_NAME')
# Create a connection to the database
engine = create_engine(f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')
# Name of the table to read
table_name = 'ytaxi_histo'
# Read data from the table into a DataFrame
df = pd.read_sql_table(table_name, con=engine)
# Display the first few rows of the DataFrame
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-05-01 00:02:28,2020-05-01 00:18:07,1.0,0.0,1.0,N,234,256,1,12.2,3.0,0.5,2.4,0.0,0.3,18.4,2.5,None
1,1,2020-05-01 00:23:21,2020-05-01 00:26:01,2.0,0.4,1.0,N,264,264,1,4.0,0.5,0.5,0.5,0.0,0.3,5.8,0.0,None
2,1,2020-05-01 00:54:58,2020-05-01 00:57:11,1.0,0.3,1.0,N,264,264,2,3.5,0.5,0.5,0.0,0.0,0.3,4.8,0.0,None
3,1,2020-05-01 00:07:10,2020-05-01 00:12:46,1.0,1.7,1.0,N,107,229,2,7.0,3.0,0.5,0.0,0.0,0.3,10.8,2.5,None
4,1,2020-05-01 00:55:47,2020-05-01 01:01:54,0.0,0.9,1.0,N,237,262,1,6.0,3.0,0.5,1.2,0.0,0.3,11.0,2.5,None

In [ ]:
from scripts.download_data_taxi import download_histo_data
# Path to save data
path_to_save_data = r"D:\Lab\projet ETL\data"
# Function call
download_histo_data(path_to_save_data)

In [6]:
from scripts.etl_functions import extract

data = extract(r'D:\Lab\projet ETL\data\yellow_tripdata_2020-04.parquet')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238073 entries, 0 to 238072
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               238073 non-null  int64
 1   tpep_pickup_datetime   238073 non-null  datetime64[us]
 2   tpep_dropoff_datetime  238073 non-null  datetime64[us]
 3   passenger_count        218493 non-null  float64
 4   trip_distance          238073 non-null  float64
 5   RatecodeID             218493 non-null  float64
 6   store_and_fwd_flag     218493 non-null  object
 7   PULocationID           238073 non-null  int64
 8   DOLocationID           238073 non-null  int64
 9   payment_type           238073 non-null  int64
 10  fare_amount            238073 non-null  float64
 11  extra                  238073 non-null  float64
 12  mta_tax                238073 non-null  float64
 13  tip_amount             238073 non-null  float64
 14  tolls_amount           238073 non-null  float64
 15  improvement_surcharge  238073 non-null  float64
 16  total_amount           238073 non-null  float64
 17  congestion_surcharge   218493 non-null  float64
 18  airport_fee            0 non-null       object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 34.5+ MB

In [5]:
valeurs_manquantes = data.isnull().sum()

valeurs_manquantes

VendorID                      0
tpep_pickup_datetime          0
tpep_dropoff_datetime         0
passenger_count           19580
trip_distance                 0
RatecodeID                19580
store_and_fwd_flag        19580
PULocationID                  0
DOLocationID                  0
payment_type                  0
fare_amount                   0
extra                         0
mta_tax                       0
tip_amount                    0
tolls_amount                  0
improvement_surcharge         0
total_amount                  0
congestion_surcharge      19580
airport_fee              238073
dtype: int64